
.idea/scopes/scope_settings.xml

.idea/workspace.xml

.idea/Flax-js-examples.iml

.idea/encodings.xml

.idea/vcs.xml

.idea/misc.xml

.idea/modules.xml

.cocos-project.json

CMakeLists.txt

flax.png

frameworks/*

runtime/*

tools/*