<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>physics_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{663,42}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{661,40}</string>
      </dict>
      <key>physics_000001</key>
      <dict>
        <key>frame</key>
        <string>{{223,42},{28,897}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{26,895}</string>
      </dict>
      <key>physics_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,183},{193,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{191,107}</string>
      </dict>
      <key>physics_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,42},{223,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{221,139}</string>
      </dict>
      <key>physics_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,292},{109,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{107,134}</string>
      </dict>
      <key>physics_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,710},{50,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{48,48}</string>
      </dict>
      <key>physics_000006</key>
      <dict>
        <key>frame</key>
        <string>{{0,653},{56,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,55}</string>
      </dict>
      <key>physics_000007</key>
      <dict>
        <key>frame</key>
        <string>{{0,596},{56,57}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,55}</string>
      </dict>
      <key>physics_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,428},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>physics_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,540},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>physics_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,484},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.1</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>physics.png</string>
      <key>size</key>
      <string>{664,998}</string>
      <key>textureFileName</key>
      <string>physics.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5002269288956127</real>
        <key>anchorY</key>
        <real>0.50125</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49615384615384617</real>
        <key>anchorY</key>
        <real>0.49994413407821225</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.049214659685863874</real>
        <key>anchorY</key>
        <real>0.7462616822429906</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.4997737556561086</real>
        <key>anchorY</key>
        <real>0.44892086330935255</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5079439252336448</real>
        <key>anchorY</key>
        <real>0.4485074626865671</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
        <key>anchors</key>
        <dict>
          <key>shoot</key>
          <string>52.65,134.5,1,0.00</string>
        </dict>
      </dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.23020833333333335</real>
        <key>anchorY</key>
        <real>0.7697916666666668</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>b0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5046296296296297</real>
        <key>anchorY</key>
        <real>0.509090909090909</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.25,28.00,54.00,54.00,0.00</string>
        </dict>
      </dict>
      <key>b1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5138888888888888</real>
        <key>anchorY</key>
        <real>0.509090909090909</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.75,28.00,54.00,54.00,0.00</string>
        </dict>
      </dict>
      <key>b2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.49907407407407406</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.00,26.95,54.00,54.00,0.00</string>
        </dict>
      </dict>
      <key>b3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5046296296296297</real>
        <key>anchorY</key>
        <real>0.4888888888888889</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.25,26.40,54.00,54.00,0.00</string>
        </dict>
      </dict>
      <key>b4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5055555555555555</real>
        <key>anchorY</key>
        <real>0.4898148148148148</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
        <key>colliders</key>
        <dict>
          <key>main</key>
          <string>Circle,27.30,26.45,54.00,54.00,0.00</string>
        </dict>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>-0.0011664074650077762</real>
        <key>anchorY</key>
        <real>0.9898089171974522</real>
        <key>url</key>
        <string>physics.bg.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>collideEffect</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>9</integer>
        <key>rect</key>
        <string>0,0,70.55,70.55</string>
        <key>anchorX</key>
        <real>0.515946137491141</real>
        <key>anchorY</key>
        <real>0.4748405386250886</real>
        <key>children</key>
        <dict>
          <key>instance1156</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>28.50,41.35,0.00,0.511962890625,0.511962890625,1.00,0,0,0|25.85,44.00,0.00,0.733978271484375,0.733978271484375,1.00,0,0,0|23.15,46.70,0.00,0.9559783935546875,0.9559783935546875,1.00,0,0,0|20.50,49.30,0.00,1.1779937744140625,1.1779937744140625,1.00,0,0,0|17.80,52.05,0.00,1.399993896484375,1.399993896484375,1.00,0,0,0|16.25,53.80,0.00,1.523529052734375,1.523529052734375,0.82,0,0,0|14.65,55.55,0.00,1.647064208984375,1.647064208984375,0.65,0,0,0|13.15,57.30,0.00,1.7705841064453125,1.7705841064453125,0.48,0,0,0|11.50,59.05,0.00,1.8940887451171875,1.8940887451171875,0.30,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>gameUI</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,702.15,981.20</string>
        <key>anchorX</key>
        <real>0.037741223385316526</real>
        <key>anchorY</key>
        <real>0.05055034651447209</real>
        <key>colliders</key>
        <dict>
          <key>leftBar</key>
          <string>Rect,42.40,461.45,19.00,835.00,0.00</string>
          <key>topBar</key>
          <string>Rect,345.20,895.50,640.00,32.00,0.00</string>
          <key>leftEdge</key>
          <string>Poly,145.63,136.28,259.75,157.85,0.00,49.80'216.20'40.70'216.20'39.84'213.95'33.74'198.88'27.33'183.21'15.82'154.12'15.97'153.37'65.19'132.25'131.25'105.58'247.15'58.92'248.25'58.63'251.59'61.44'263.06'89.91'275.88'121.70'267.06'130.02'253.30'142.19'247.25'146.90'230.63'159.19'223.75'163.73'206.53'174.49'200.75'177.54'185.24'185.32'179.13'188.04'162.66'194.87'156.13'197.16'137.50'203.07'129.25'205.19'107.28'210.18'98.75'211.56'77.77'214.55'71.08'215.14</string>
          <key>rightBar</key>
          <string>Rect,651.50,461.45,19.00,835.00,0.00</string>
          <key>rightEdge</key>
          <string>Poly,547.35,139.13,274.60,163.85,0.00,656.83'221.67'650.20'221.61'648.55'221.39'638.80'219.86'630.55'218.49'607.45'214.00'597.55'211.56'573.02'204.91'565.05'202.20'546.50'195.70'541.55'193.76'529.87'189.03'526.59'187.56'514.98'182.08'508.09'178.64'490.60'169.55'484.55'166.07'467.70'155.79'460.55'150.95'442.60'138.29'436.55'133.57'422.09'121.97'417.87'118.27'410.15'110.88'410.10'110.05'415.05'97.16'421.22'83.23'432.78'58.01'433.99'58.35'491.35'83.64'559.55'114.02'683.83'169.54'684.17'169.90'679.69'182.03'673.45'196.05</string>
          <key>hole</key>
          <string>Poly,353.65,135.50,151.90,35.50,0.00,357.20'153.76'327.63'153.85'325.70'153.63'317.48'152.52'311.70'151.67'297.57'149.04'293.13'147.71'283.52'144.26'281.63'142.99'278.15'139.98'277.90'136.57'277.98'132.19'280.40'130.50'285.68'127.62'288.70'126.50'299.15'123.54'305.20'122.39'321.38'119.85'327.70'119.29'345.73'118.26'353.70'118.25'373.15'118.71'379.20'119.27'394.25'121.01'399.20'121.89'411.67'124.58'415.91'125.90'424.99'129.46'426.66'130.87'429.70'134.32'429.70'136.39'428.78'140.20'427.15'141.71'420.24'145.46'414.90'147.17'400.70'150.99'395.20'151.87</string>
        </dict>
        <key>children</key>
        <dict>
          <key>instance1192</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>138.45,110.35,23.00,1.0996337671098448,1.0996337671098448,1.00,4,23.001491938823875,23.001491938823875</string>
          </dict>
          <key>instance1195</key>
          <dict>
            <key>class</key>
            <string>asset1</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>346.10,895.40,0.00,1,1,1.00,5,0,0</string>
          </dict>
          <key>con</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>258.45,129.75,0.00,1.0996551514730528,1.0996551514730528,1.00,2,0.0007950348912734681,0.0007950348912734681</string>
          </dict>
          <key>gun</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>355.55,162.40,0.00,0.9999847412109375,0.9999847412109375,1.00,1,0,0</string>
          </dict>
          <key>leftEdge</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>42.65,481.60,0.00,1,1,1.00,6,0,0</string>
          </dict>
          <key>rightEdge</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>650.85,481.60,0.00,1,1,1.00,7,0,0</string>
          </dict>
          <key>instance1189</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>563.40,110.20,-23.00,1.0996218425694397,1.0996218425694397,1.00,3,-23.000028243714222,-23.000028243714222</string>
          </dict>
          <key>back</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>25.55,971.60,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>