<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>boss_000000</key>
      <dict>
        <key>frame</key>
        <string>{{1225,685},{192,158}}</string>
        <key>offset</key>
        <string>{131.05,-20.74}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000001</key>
      <dict>
        <key>frame</key>
        <string>{{1225,843},{191,153}}</string>
        <key>offset</key>
        <string>{131.38,-22.56}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000002</key>
      <dict>
        <key>frame</key>
        <string>{{1227,328},{189,148}}</string>
        <key>offset</key>
        <string>{131.18,-25.19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000003</key>
      <dict>
        <key>frame</key>
        <string>{{1229,1198},{188,147}}</string>
        <key>offset</key>
        <string>{131.47,-25.69}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000004</key>
      <dict>
        <key>frame</key>
        <string>{{1237,996},{187,149}}</string>
        <key>offset</key>
        <string>{131.78,-25.01}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000005</key>
      <dict>
        <key>frame</key>
        <string>{{1255,154},{186,154}}</string>
        <key>offset</key>
        <string>{132.07,-22.66}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000006</key>
      <dict>
        <key>frame</key>
        <string>{{1416,308},{185,158}}</string>
        <key>offset</key>
        <string>{132.38,-20.41}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000007</key>
      <dict>
        <key>frame</key>
        <string>{{1417,466},{184,162}}</string>
        <key>offset</key>
        <string>{132.32,-18.91}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000008</key>
      <dict>
        <key>frame</key>
        <string>{{1417,628},{184,167}}</string>
        <key>offset</key>
        <string>{131.70,-16.04}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000009</key>
      <dict>
        <key>frame</key>
        <string>{{1417,795},{183,171}}</string>
        <key>offset</key>
        <string>{132.00,-13.61}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000010</key>
      <dict>
        <key>frame</key>
        <string>{{1417,1145},{182,176}}</string>
        <key>offset</key>
        <string>{131.97,-11.49}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000011</key>
      <dict>
        <key>frame</key>
        <string>{{853,179},{210,207}}</string>
        <key>offset</key>
        <string>{111.67,-6.16}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000012</key>
      <dict>
        <key>frame</key>
        <string>{{804,883},{213,238}}</string>
        <key>offset</key>
        <string>{104.47,7.99}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000013</key>
      <dict>
        <key>frame</key>
        <string>{{573,465},{235,235}}</string>
        <key>offset</key>
        <string>{87.22,6.61}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000014</key>
      <dict>
        <key>frame</key>
        <string>{{306,1108},{269,219}}</string>
        <key>offset</key>
        <string>{66.63,-1.89}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000015</key>
      <dict>
        <key>frame</key>
        <string>{{0,639},{311,224}}</string>
        <key>offset</key>
        <string>{42.75,-12.34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000016</key>
      <dict>
        <key>frame</key>
        <string>{{0,343},{387,169}}</string>
        <key>offset</key>
        <string>{5.25,-37.09}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000017</key>
      <dict>
        <key>frame</key>
        <string>{{0,235},{400,108}}</string>
        <key>offset</key>
        <string>{-1.25,-70.04}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000018</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{409,109}}</string>
        <key>offset</key>
        <string>{-9.75,-70.96}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000019</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{419,126}}</string>
        <key>offset</key>
        <string>{-17.75,-63.99}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000020</key>
      <dict>
        <key>frame</key>
        <string>{{0,987},{307,121}}</string>
        <key>offset</key>
        <string>{38.23,-57.39}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000021</key>
      <dict>
        <key>frame</key>
        <string>{{0,863},{311,124}}</string>
        <key>offset</key>
        <string>{36.20,-55.79}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000022</key>
      <dict>
        <key>frame</key>
        <string>{{0,512},{323,127}}</string>
        <key>offset</key>
        <string>{30.60,-53.19}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000023</key>
      <dict>
        <key>frame</key>
        <string>{{0,1108},{306,123}}</string>
        <key>offset</key>
        <string>{39.10,-55.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000024</key>
      <dict>
        <key>frame</key>
        <string>{{0,1231},{306,101}}</string>
        <key>offset</key>
        <string>{38.80,-64.29}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000025</key>
      <dict>
        <key>frame</key>
        <string>{{0,1332},{303,101}}</string>
        <key>offset</key>
        <string>{40.50,-62.76}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000026</key>
      <dict>
        <key>frame</key>
        <string>{{303,1332},{297,102}}</string>
        <key>offset</key>
        <string>{43.30,-60.81}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000027</key>
      <dict>
        <key>frame</key>
        <string>{{307,987},{264,105}}</string>
        <key>offset</key>
        <string>{59.80,-59.24}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000028</key>
      <dict>
        <key>frame</key>
        <string>{{311,639},{262,108}}</string>
        <key>offset</key>
        <string>{61.25,-58.36}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000029</key>
      <dict>
        <key>frame</key>
        <string>{{311,747},{258,113}}</string>
        <key>offset</key>
        <string>{65.40,-55.69}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000030</key>
      <dict>
        <key>frame</key>
        <string>{{311,860},{254,118}}</string>
        <key>offset</key>
        <string>{69.58,-51.69}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000031</key>
      <dict>
        <key>frame</key>
        <string>{{323,512},{249,119}}</string>
        <key>offset</key>
        <string>{73.25,-51.11}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000032</key>
      <dict>
        <key>frame</key>
        <string>{{387,343},{245,122}}</string>
        <key>offset</key>
        <string>{77.42,-50.69}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000033</key>
      <dict>
        <key>frame</key>
        <string>{{409,126},{241,121}}</string>
        <key>offset</key>
        <string>{81.58,-48.91}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000034</key>
      <dict>
        <key>frame</key>
        <string>{{569,747},{237,136}}</string>
        <key>offset</key>
        <string>{85.72,-42.96}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000035</key>
      <dict>
        <key>frame</key>
        <string>{{571,883},{233,147}}</string>
        <key>offset</key>
        <string>{89.88,-35.76}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000036</key>
      <dict>
        <key>frame</key>
        <string>{{575,1030},{229,161}}</string>
        <key>offset</key>
        <string>{94.05,-29.21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000037</key>
      <dict>
        <key>frame</key>
        <string>{{600,1191},{225,164}}</string>
        <key>offset</key>
        <string>{98.22,-27.59}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000038</key>
      <dict>
        <key>frame</key>
        <string>{{632,247},{221,170}}</string>
        <key>offset</key>
        <string>{102.40,-23.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000039</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{217,179}}</string>
        <key>offset</key>
        <string>{106.55,-19.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000040</key>
      <dict>
        <key>frame</key>
        <string>{{808,417},{212,196}}</string>
        <key>offset</key>
        <string>{110.20,-9.76}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000041</key>
      <dict>
        <key>frame</key>
        <string>{{1017,850},{208,197}}</string>
        <key>offset</key>
        <string>{114.38,-6.21}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000042</key>
      <dict>
        <key>frame</key>
        <string>{{1018,613},{207,182}}</string>
        <key>offset</key>
        <string>{117.65,-10.26}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000043</key>
      <dict>
        <key>frame</key>
        <string>{{867,0},{207,170}}</string>
        <key>offset</key>
        <string>{119.75,-15.96}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000044</key>
      <dict>
        <key>frame</key>
        <string>{{825,1121},{211,159}}</string>
        <key>offset</key>
        <string>{119.55,-20.94}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000045</key>
      <dict>
        <key>frame</key>
        <string>{{806,700},{212,150}}</string>
        <key>offset</key>
        <string>{120.80,-24.44}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000046</key>
      <dict>
        <key>frame</key>
        <string>{{825,1280},{211,144}}</string>
        <key>offset</key>
        <string>{121.72,-27.34}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000047</key>
      <dict>
        <key>frame</key>
        <string>{{1020,386},{207,144}}</string>
        <key>offset</key>
        <string>{123.75,-27.64}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000048</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1047},{201,151}}</string>
        <key>offset</key>
        <string>{126.58,-24.31}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000049</key>
      <dict>
        <key>frame</key>
        <string>{{1074,0},{192,154}}</string>
        <key>offset</key>
        <string>{131.05,-25.06}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000050</key>
      <dict>
        <key>frame</key>
        <string>{{1036,1198},{193,153}}</string>
        <key>offset</key>
        <string>{130.18,-22.46}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000051</key>
      <dict>
        <key>frame</key>
        <string>{{1225,530},{192,155}}</string>
        <key>offset</key>
        <string>{130.60,-21.86}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
      <key>boss_000052</key>
      <dict>
        <key>frame</key>
        <string>{{1063,170},{192,158}}</string>
        <key>offset</key>
        <string>{130.80,-20.74}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{452.5,251.975}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.1</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>boss.png</string>
      <key>size</key>
      <string>{1656,1454}</string>
      <key>textureFileName</key>
      <string>boss.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Attack2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5980662983425414</real>
        <key>anchorY</key>
        <real>0.6765552138108939</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>52</integer>
      </dict>
    </dict>
  </dict>
</plist>