<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>effect_000000</key>
      <dict>
        <key>frame</key>
        <string>{{260,180},{59,60}}</string>
        <key>offset</key>
        <string>{1.40,1.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000001</key>
      <dict>
        <key>frame</key>
        <string>{{544,0},{85,90}}</string>
        <key>offset</key>
        <string>{1.40,-1.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000002</key>
      <dict>
        <key>frame</key>
        <string>{{437,0},{107,113}}</string>
        <key>offset</key>
        <string>{1.40,-1.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000003</key>
      <dict>
        <key>frame</key>
        <string>{{436,608},{110,113}}</string>
        <key>offset</key>
        <string>{2.90,-1.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000004</key>
      <dict>
        <key>frame</key>
        <string>{{436,473},{129,135}}</string>
        <key>offset</key>
        <string>{1.40,-1.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000005</key>
      <dict>
        <key>frame</key>
        <string>{{433,337},{141,136}}</string>
        <key>offset</key>
        <string>{3.40,-0.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000006</key>
      <dict>
        <key>frame</key>
        <string>{{433,180},{160,157}}</string>
        <key>offset</key>
        <string>{2.90,-1.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000007</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{177,180}}</string>
        <key>offset</key>
        <string>{2.40,-0.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000008</key>
      <dict>
        <key>frame</key>
        <string>{{237,267},{196,202}}</string>
        <key>offset</key>
        <string>{0.90,-0.55}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000009</key>
      <dict>
        <key>frame</key>
        <string>{{223,511},{213,215}}</string>
        <key>offset</key>
        <string>{-1.60,-3.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,511},{223,222}}</string>
        <key>offset</key>
        <string>{-3.60,-0.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,267},{237,244}}</string>
        <key>offset</key>
        <string>{-0.15,0.15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
      <key>effect_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{260,267}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{258,265}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.1</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>effect.png</string>
      <key>size</key>
      <string>{660,768}</string>
      <key>textureFileName</key>
      <string>effect.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>effect</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5145348837209303</real>
        <key>anchorY</key>
        <real>0.5009433962264151</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
    </dict>
  </dict>
</plist>