<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gamePopStars_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{66,66}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{64,64}</string>
      </dict>
      <key>gamePopStars_000001</key>
      <dict>
        <key>frame</key>
        <string>{{64,66},{64,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>gamePopStars_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,195},{64,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,63}</string>
      </dict>
      <key>gamePopStars_000003</key>
      <dict>
        <key>frame</key>
        <string>{{64,130},{64,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>gamePopStars_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,131},{64,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,62}</string>
      </dict>
      <key>gamePopStars_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,66},{64,65}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{62,63}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.22</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gamePopStars.png</string>
      <key>size</key>
      <string>{166,266}</string>
      <key>textureFileName</key>
      <string>gamePopStars.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>selectimg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>star0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>star1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5079365079365079</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>star2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>star3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>star4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.49206349206349204</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0</real>
        <key>url</key>
        <string>gamePopStars.bg.jpg</string>
      </dict>
    </dict>
  </dict>
</plist>