<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameTimberQiang_000000</key>
      <dict>
        <key>frame</key>
        <string>{{376,958},{35,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>gameTimberQiang_000001</key>
      <dict>
        <key>frame</key>
        <string>{{787,541},{72,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>gameTimberQiang_000002</key>
      <dict>
        <key>frame</key>
        <string>{{691,0},{150,183}}</string>
        <key>offset</key>
        <string>{-42.03,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000003</key>
      <dict>
        <key>frame</key>
        <string>{{733,741},{109,177}}</string>
        <key>offset</key>
        <string>{-12.98,-3.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000004</key>
      <dict>
        <key>frame</key>
        <string>{{472,313},{164,175}}</string>
        <key>offset</key>
        <string>{35.02,-4.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000005</key>
      <dict>
        <key>frame</key>
        <string>{{648,254},{150,183}}</string>
        <key>offset</key>
        <string>{-42.03,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000006</key>
      <dict>
        <key>frame</key>
        <string>{{774,1020},{98,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,82}</string>
      </dict>
      <key>gameTimberQiang_000007</key>
      <dict>
        <key>frame</key>
        <string>{{472,254},{176,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{174,57}</string>
      </dict>
      <key>gameTimberQiang_000008</key>
      <dict>
        <key>frame</key>
        <string>{{670,958},{123,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,60}</string>
      </dict>
      <key>gameTimberQiang_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,672},{376,321}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{374,319}</string>
      </dict>
      <key>gameTimberQiang_000010</key>
      <dict>
        <key>frame</key>
        <string>{{375,1113},{78,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,15}</string>
      </dict>
      <key>gameTimberQiang_000011</key>
      <dict>
        <key>frame</key>
        <string>{{375,993},{295,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{293,54}</string>
      </dict>
      <key>gameTimberQiang_000012</key>
      <dict>
        <key>frame</key>
        <string>{{472,127},{219,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{217,125}</string>
      </dict>
      <key>gameTimberQiang_000013</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{219,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{217,125}</string>
      </dict>
      <key>gameTimberQiang_000014</key>
      <dict>
        <key>frame</key>
        <string>{{733,615},{126,126}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,124}</string>
      </dict>
      <key>gameTimberQiang_000015</key>
      <dict>
        <key>frame</key>
        <string>{{793,918},{47,64}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000016</key>
      <dict>
        <key>frame</key>
        <string>{{859,603},{31,62}}</string>
        <key>offset</key>
        <string>{-3.50,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000017</key>
      <dict>
        <key>frame</key>
        <string>{{859,541},{46,62}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000018</key>
      <dict>
        <key>frame</key>
        <string>{{738,183},{47,64}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000019</key>
      <dict>
        <key>frame</key>
        <string>{{691,183},{47,62}}</string>
        <key>offset</key>
        <string>{-0.50,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000020</key>
      <dict>
        <key>frame</key>
        <string>{{842,741},{46,63}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000021</key>
      <dict>
        <key>frame</key>
        <string>{{841,110},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000022</key>
      <dict>
        <key>frame</key>
        <string>{{578,597},{47,61}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000023</key>
      <dict>
        <key>frame</key>
        <string>{{842,804},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000024</key>
      <dict>
        <key>frame</key>
        <string>{{840,918},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000025</key>
      <dict>
        <key>frame</key>
        <string>{{787,437},{77,104}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,102}</string>
      </dict>
      <key>gameTimberQiang_000026</key>
      <dict>
        <key>frame</key>
        <string>{{841,0},{65,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,108}</string>
      </dict>
      <key>gameTimberQiang_000027</key>
      <dict>
        <key>frame</key>
        <string>{{798,183},{77,107}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,105}</string>
      </dict>
      <key>gameTimberQiang_000028</key>
      <dict>
        <key>frame</key>
        <string>{{798,290},{75,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,107}</string>
      </dict>
      <key>gameTimberQiang_000029</key>
      <dict>
        <key>frame</key>
        <string>{{375,1049},{263,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,30}</string>
      </dict>
      <key>gameTimberQiang_000030</key>
      <dict>
        <key>frame</key>
        <string>{{375,1081},{263,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,30}</string>
      </dict>
      <key>gameTimberQiang_000031</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{472,529}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{470,527}</string>
      </dict>
      <key>gameTimberQiang_000032</key>
      <dict>
        <key>frame</key>
        <string>{{873,290},{38,197}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{36,195}</string>
      </dict>
      <key>gameTimberQiang_000033</key>
      <dict>
        <key>frame</key>
        <string>{{377,529},{254,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{252,66}</string>
      </dict>
      <key>gameTimberQiang_000034</key>
      <dict>
        <key>frame</key>
        <string>{{638,1049},{136,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{134,77}</string>
      </dict>
      <key>gameTimberQiang_000035</key>
      <dict>
        <key>frame</key>
        <string>{{376,672},{357,286}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{355,284}</string>
      </dict>
      <key>gameTimberQiang_000036</key>
      <dict>
        <key>frame</key>
        <string>{{377,597},{201,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,43}</string>
      </dict>
      <key>gameTimberQiang_000037</key>
      <dict>
        <key>frame</key>
        <string>{{631,488},{156,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{154,125}</string>
      </dict>
      <key>gameTimberQiang_000038</key>
      <dict>
        <key>frame</key>
        <string>{{0,993},{375,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{373,134}</string>
      </dict>
      <key>gameTimberQiang_000039</key>
      <dict>
        <key>frame</key>
        <string>{{0,529},{377,143}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{375,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.2</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameTimberQiang.png</string>
      <key>size</key>
      <string>{972,1130}</string>
      <key>textureFileName</key>
      <string>gameTimberQiang.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Circle</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Finger</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.2328571428571429</real>
        <key>anchorY</key>
        <real>-0.33857142857142863</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>HeroQiang</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.1249730661495367</real>
        <key>anchorY</key>
        <real>0.019294377067254686</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>Symbol14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.4994791666666667</real>
        <key>anchorY</key>
        <real>0.500609756097561</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>Symbol2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.25316091954022985</real>
        <key>anchorY</key>
        <real>0.35964912280701755</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>Symbol3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03801652892561983</real>
        <key>anchorY</key>
        <real>0.44500000000000006</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>Symbol4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.058823529411764705</real>
        <key>anchorY</key>
        <real>-0.029937304075235146</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>Symbol5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.006666666666666643</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>Symbol8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.017064846416382253</real>
        <key>anchorY</key>
        <real>0.5018518518518519</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>s21</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.5122119815668204</real>
        <key>anchorY</key>
        <real>0.5084</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>13</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>death</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5411290322580645</real>
        <key>anchorY</key>
        <real>0.4943548387096774</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>hjx16768_24221</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.6013333333333334</real>
        <key>anchorY</key>
        <real>0.4264705882352941</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>hjx20566_79083</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.6031746031746031</real>
        <key>anchorY</key>
        <real>0.4217592592592592</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>hjx42732_37397</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.6433333333333333</real>
        <key>anchorY</key>
        <real>0.4276190476190476</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>hjx98604_41999</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5931506849315068</real>
        <key>anchorY</key>
        <real>0.42429906542056073</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>Symbol1</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0</real>
        <key>url</key>
        <string>gameTimberQiang.Symbol1.jpg</string>
      </dict>
      <key>Symbol7</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.5016666666666667</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>Symbol7copy</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.5016666666666667</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>s17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>s18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49027777777777776</real>
        <key>anchorY</key>
        <real>0.7469230769230769</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
      <key>s20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.07936507936507936</real>
        <key>anchorY</key>
        <real>1.1121212121212123</real>
        <key>start</key>
        <integer>33</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>s26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.503731343283582</real>
        <key>anchorY</key>
        <real>0.48896103896103893</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>s777</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.05408450704225352</real>
        <key>anchorY</key>
        <real>0.09102112676056347</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>s8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.06331658291457286</real>
        <key>anchorY</key>
        <real>0.9895348837209301</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>tree0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5058441558441559</real>
        <key>anchorY</key>
        <real>0.5064</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>tree1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.7958445040214478</real>
        <key>anchorY</key>
        <real>0.4705223880597015</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>tree2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.20773333333333335</real>
        <key>anchorY</key>
        <real>0.44822695035460997</real>
        <key>start</key>
        <integer>39</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>EnergyBar</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,292.65,53.80</string>
        <key>anchorX</key>
        <real>0.5023065094823168</real>
        <key>anchorY</key>
        <real>0.4795539033457249</real>
        <key>children</key>
        <dict>
          <key>instance14742</key>
          <dict>
            <key>class</key>
            <string>Symbol8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>5.00,26.90,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>bar0</key>
          <dict>
            <key>class</key>
            <string>Symbol7copy</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>16.00,26.20,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>Symbol7</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>16.00,26.20,0.00,1,1,1.00,2,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>MainGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,644.00,885.50</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.001129305477131564</real>
        <key>children</key>
        <dict>
          <key>scoreTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>233.10,773.05,0.00,1,1,1.00,3,0,0,Helvetica,70,#FFFFFF,center,168,86</string>
            <key>text</key>
            <string>999%0D</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Helvetica</string>
            <key>size</key>
            <integer>70</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>168</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>treeBase</key>
          <dict>
            <key>class</key>
            <string>s8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>231.80,139.85,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>t1</key>
          <dict>
            <key>class</key>
            <string>Tap</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>476.95,477.80,0.00,1,1,1.00,4,0,0</string>
          </dict>
          <key>t0</key>
          <dict>
            <key>class</key>
            <string>Tap</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>167.00,478.80,89.99,1.0000000041909516,1.0000000041909516,1.00,5,89.99475441473209,89.99475441473209</string>
          </dict>
          <key>player</key>
          <dict>
            <key>class</key>
            <string>HeroQiang</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>321.00,112.75,0.00,1,1,1.00,2,0,0</string>
          </dict>
          <key>energy</key>
          <dict>
            <key>class</key>
            <string>EnergyBar</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>324.70,815.40,0.00,1,1,1.00,6,0,0</string>
          </dict>
          <key>instance14770</key>
          <dict>
            <key>class</key>
            <string>Symbol1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.50,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>MainMenu</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,644.00,885.50</string>
        <key>anchorX</key>
        <real>0.0007763975155279503</real>
        <key>anchorY</key>
        <real>0.001129305477131564</real>
        <key>children</key>
        <dict>
          <key>instance14833</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>322.15,203.20,0.00,1,1,1.00,8,0,0</string>
          </dict>
          <key>startBtn</key>
          <dict>
            <key>class</key>
            <string>s21</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>320.35,130.70,0.00,1,1,1.00,10,0,0</string>
          </dict>
          <key>treeBase</key>
          <dict>
            <key>class</key>
            <string>s8</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>231.80,142.85,0.00,1,1,1.00,2,0,0</string>
          </dict>
          <key>instance14819</key>
          <dict>
            <key>class</key>
            <string>tree2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>322.15,573.85,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>instance14823</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>322.15,450.85,0.00,1,1,1.00,4,0,0</string>
          </dict>
          <key>instance14827</key>
          <dict>
            <key>class</key>
            <string>tree1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>322.15,697.95,0.00,1,1,1.00,6,0,0</string>
          </dict>
          <key>instance14825</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>322.15,326.45,0.00,1,1,1.00,5,0,0</string>
          </dict>
          <key>instance14831</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>322.15,822.85,0.00,1,1,1.00,7,0,0</string>
          </dict>
          <key>label__0</key>
          <dict>
            <key>class</key>
            <string>Symbol4</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>105.45,511.40,0.00,1,1,1.00,11,0,0</string>
          </dict>
          <key>player</key>
          <dict>
            <key>class</key>
            <string>qiang1</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>195.55,213.90,0.00,1,1,1.00,9,0,0</string>
          </dict>
          <key>instance14812</key>
          <dict>
            <key>class</key>
            <string>Symbol1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,1.50,0.00,1,1,1.00,1,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>ResultPanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,554.15,895.65</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0011165075643387483</real>
        <key>children</key>
        <dict>
          <key>label__0</key>
          <dict>
            <key>class</key>
            <string>s20</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>174.35,738.40,0.00,1,1,1.00,5,0,0</string>
          </dict>
          <key>scoreTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>205.05,536.60,0.00,1,1,1.00,6,0,0,Helvetica,70,#FFFFFF,center,208,86</string>
            <key>text</key>
            <string>9999%0D</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Helvetica</string>
            <key>size</key>
            <integer>70</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>208</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>label__1</key>
          <dict>
            <key>class</key>
            <string>Symbol2</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>262.15,398.20,0.00,1,1,1.00,7,0,0</string>
          </dict>
          <key>startBtn</key>
          <dict>
            <key>class</key>
            <string>s21</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>321.85,119.05,0.00,1,1,1.00,4,0,0</string>
          </dict>
          <key>bestTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>212.80,354.55,0.00,1,1,1.00,8,0,0,Helvetica,70,#FFFFFF,center,179,86</string>
            <key>text</key>
            <string>9999%0D</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Helvetica</string>
            <key>size</key>
            <integer>70</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>179</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>instance14866</key>
          <dict>
            <key>class</key>
            <string>s17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>84.00,732.05,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>instance14868</key>
          <dict>
            <key>class</key>
            <string>s18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>145.60,846.30,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>instance14872</key>
          <dict>
            <key>class</key>
            <string>Symbol3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>235.65,577.75,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>instance14870</key>
          <dict>
            <key>class</key>
            <string>s18</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>490.10,845.25,0.00,1,1,1.00,2,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>Tap</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>24</integer>
        <key>rect</key>
        <string>0,0,107.70,107.55</string>
        <key>anchorX</key>
        <real>0.34818941504178275</real>
        <key>anchorY</key>
        <real>0.6452812645281264</real>
        <key>children</key>
        <dict>
          <key>instance15291</key>
          <dict>
            <key>class</key>
            <string>Circle</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||34.85,72.90,0.00,0.544036865234375,0.544036865234375,1.00,0,0,0|29.90,77.80,0.00,0.843048095703125,0.843048095703125,0.86,0,0,0|24.95,82.80,0.00,1.1420745849609375,1.1420745849609375,0.71,0,0,0|19.95,87.70,0.00,1.4410858154296875,1.4410858154296875,0.57,0,0,0|14.95,92.65,0.00,1.7400970458984375,1.7400970458984375,0.43,0,0,0|10.00,97.60,0.00,2.039093017578125,2.039093017578125,0.29,0,0,0|5.05,102.55,0.00,2.3381195068359375,2.3381195068359375,0.14,0,0,0|0.00,107.55,0.00,2.63714599609375,2.63714599609375,0.00,0,0,0|null||||||</string>
          </dict>
          <key>instance14902</key>
          <dict>
            <key>class</key>
            <string>Finger</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>123.65,-23.45,0.00,1,1,1.00,0,0,0||||122.10,-21.65,0.00,0.9837493896484375,0.9837493896484375,1.00,0,0,0|120.55,-19.90,0.00,0.967498779296875,0.967498779296875,1.00,0,0,0|119.00,-18.10,0.00,0.9512481689453125,0.9512481689453125,1.00,0,0,0|117.45,-16.30,0.00,0.93499755859375,0.93499755859375,1.00,0,0,0|115.90,-14.55,0.00,0.9187469482421875,0.9187469482421875,1.00,0,0,0|114.35,-12.75,0.00,0.902496337890625,0.902496337890625,1.00,1,0,0|115.90,-14.60,0.00,0.9187469482421875,0.9187469482421875,1.00,1,0,0|117.45,-16.30,0.00,0.93499755859375,0.93499755859375,1.00,1,0,0|119.00,-18.15,0.00,0.9512481689453125,0.9512481689453125,1.00,1,0,0|120.55,-19.90,0.00,0.967498779296875,0.967498779296875,1.00,1,0,0|122.10,-21.70,0.00,0.9837493896484375,0.9837493896484375,1.00,1,0,0|123.65,-23.45,0.00,1,1,1.00,1,0,0||123.65,-23.45,0.00,1,1,1.00,0,0,0||||||</string>
          </dict>
        </dict>
      </dict>
      <key>qiang1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>48</integer>
        <key>rect</key>
        <string>0,0,126.95,180.65</string>
        <key>anchorX</key>
        <real>0.8558487593540764</real>
        <key>anchorY</key>
        <real>0.577359535012455</real>
        <key>children</key>
        <dict>
          <key>instance15295</key>
          <dict>
            <key>class</key>
            <string>hjx20566_79083</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||78.40,79.20,0.00,1.624481201171875,1.624481201171875,1.00,1,0,0|||||||||||||||null|||||||||||</string>
          </dict>
          <key>instance15297</key>
          <dict>
            <key>class</key>
            <string>hjx98604_41999</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||78.40,79.20,0.00,1.624481201171875,1.624481201171875,1.00,1,0,0||||||null|||||</string>
          </dict>
          <key>instance15299</key>
          <dict>
            <key>class</key>
            <string>hjx16768_24221</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||78.40,79.20,0.00,1.624481201171875,1.624481201171875,1.00,1,0,0|||||</string>
          </dict>
          <key>instance14928</key>
          <dict>
            <key>class</key>
            <string>Symbol5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>43.40,-0.00,0.00,1,1,1.00,0,0,0|||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>instance15293</key>
          <dict>
            <key>class</key>
            <string>hjx16768_24221</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||78.40,79.20,0.00,1.624481201171875,1.624481201171875,1.00,1,0,0||||||null||||||||||||||||||||||||||</string>
          </dict>
          <key>instance14930</key>
          <dict>
            <key>class</key>
            <string>hjx42732_37397</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>78.40,79.20,0.00,1.624481201171875,1.624481201171875,1.00,1,0,0|||||||||||||||null||||||||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>s27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>10</integer>
        <key>rect</key>
        <string>0,0,133.95,76.80</string>
        <key>anchorX</key>
        <real>0.3919372900335947</real>
        <key>anchorY</key>
        <real>0.9674479166666666</real>
        <key>children</key>
        <dict>
          <key>instance14956</key>
          <dict>
            <key>class</key>
            <string>s26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>67.50,37.45,0.00,1,1,1.00,0,0,0|67.50,37.45,0.00,0.980499267578125,0.980499267578125,1.00,0,0,0|67.50,37.45,0.00,0.96099853515625,0.96099853515625,1.00,0,0,0|67.50,37.45,0.00,0.941497802734375,0.941497802734375,1.00,0,0,0|67.50,37.45,0.00,0.9219970703125,0.9219970703125,1.00,0,0,0|67.50,37.45,0.00,0.902496337890625,0.902496337890625,1.00,0,0,0|67.50,37.45,0.00,0.9268646240234375,0.9268646240234375,1.00,0,0,0|67.50,37.45,0.00,0.9512481689453125,0.9512481689453125,1.00,0,0,0|67.50,37.45,0.00,0.975616455078125,0.975616455078125,1.00,0,0,0|67.50,37.45,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>treeAnim</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>10</integer>
        <key>rect</key>
        <string>0,0,554.10,199.25</string>
        <key>anchorX</key>
        <real>0.14257354268182637</real>
        <key>anchorY</key>
        <real>0.4915934755332496</real>
        <key>children</key>
        <dict>
          <key>tree</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>77.90,100.25,0.00,1,1,1.00,0,0,0|139.35,100.25,55.39,0.998473202338683,0.998473202338683,1.00,0,55.38658423948149,55.38658423948149|196.50,100.25,106.77,0.9990917222792777,0.9990917222792777,1.00,0,106.76638042650845,106.76638042650845|249.45,100.25,154.44,0.9987205805381782,0.9987205805381782,1.00,0,154.43876441863108,154.43876441863108|298.15,100.25,-161.93,0.9990305602005272,0.9990305602005272,1.00,0,-161.92646934942883,-161.92646934942883|342.60,100.25,-121.81,0.9985269981041686,0.9985269981041686,1.00,0,-121.80751503211388,-121.80751503211388|382.80,100.25,-85.71,0.999747998925167,0.999747998925167,1.00,0,-85.71102107826589,-85.71102107826589|418.75,100.25,-53.18,0.9984226361606295,0.9984226361606295,1.00,0,-53.18106492462194,-53.18106492462194|450.45,100.25,-24.59,0.9987546872986389,0.9987546872986389,1.00,0,-24.58420812613133,-24.58420812613133|477.90,100.25,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>ScoreFont</key>
      <dict>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>24</integer>
        <key>size</key>
        <integer>70</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.13043478260869565</real>
        <key>anchorY</key>
        <real>1.1129032258064515</real>
      </dict>
    </dict>
  </dict>
</plist>