<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameBubbles_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>gameBubbles_000001</key>
      <dict>
        <key>frame</key>
        <string>{{56,0},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>gameBubbles_000002</key>
      <dict>
        <key>frame</key>
        <string>{{56,56},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
      <key>gameBubbles_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{56,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{54,54}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameBubbles.png</string>
      <key>size</key>
      <string>{164,164}</string>
      <key>textureFileName</key>
      <string>gameBubbles.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>b0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5046296296296297</real>
        <key>anchorY</key>
        <real>0.5092592592592593</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>b1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5138888888888888</real>
        <key>anchorY</key>
        <real>0.5092592592592593</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>b2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.4916666666666667</real>
        <key>anchorY</key>
        <real>0.5083333333333333</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>b3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5138888888888888</real>
        <key>anchorY</key>
        <real>0.5074074074074074</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00038880248833592535</real>
        <key>anchorY</key>
        <real>0.04501061571125263</real>
        <key>url</key>
        <string>gameBubbles.bg.jpg</string>
      </dict>
    </dict>
  </dict>
</plist>