<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameTimberQiang_000000</key>
      <dict>
        <key>frame</key>
        <string>{{376,958},{35,35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{33,33}</string>
      </dict>
      <key>gameTimberQiang_000001</key>
      <dict>
        <key>frame</key>
        <string>{{787,541},{72,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>gameTimberQiang_000002</key>
      <dict>
        <key>frame</key>
        <string>{{691,0},{150,183}}</string>
        <key>offset</key>
        <string>{-42.03,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000003</key>
      <dict>
        <key>frame</key>
        <string>{{733,741},{109,177}}</string>
        <key>offset</key>
        <string>{-12.98,-3.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000004</key>
      <dict>
        <key>frame</key>
        <string>{{472,313},{164,175}}</string>
        <key>offset</key>
        <string>{35.02,-4.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000005</key>
      <dict>
        <key>frame</key>
        <string>{{648,254},{150,183}}</string>
        <key>offset</key>
        <string>{-42.03,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{232.05,181.4}</string>
      </dict>
      <key>gameTimberQiang_000006</key>
      <dict>
        <key>frame</key>
        <string>{{774,1020},{98,84}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{96,82}</string>
      </dict>
      <key>gameTimberQiang_000007</key>
      <dict>
        <key>frame</key>
        <string>{{472,254},{176,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{174,57}</string>
      </dict>
      <key>gameTimberQiang_000008</key>
      <dict>
        <key>frame</key>
        <string>{{670,958},{123,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{121,60}</string>
      </dict>
      <key>gameTimberQiang_000009</key>
      <dict>
        <key>frame</key>
        <string>{{0,672},{376,321}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{374,319}</string>
      </dict>
      <key>gameTimberQiang_000010</key>
      <dict>
        <key>frame</key>
        <string>{{375,1113},{78,17}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,15}</string>
      </dict>
      <key>gameTimberQiang_000011</key>
      <dict>
        <key>frame</key>
        <string>{{375,993},{295,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{293,54}</string>
      </dict>
      <key>gameTimberQiang_000012</key>
      <dict>
        <key>frame</key>
        <string>{{472,127},{219,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{217,125}</string>
      </dict>
      <key>gameTimberQiang_000013</key>
      <dict>
        <key>frame</key>
        <string>{{472,0},{219,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{217,125}</string>
      </dict>
      <key>gameTimberQiang_000014</key>
      <dict>
        <key>frame</key>
        <string>{{733,615},{126,126}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{124,124}</string>
      </dict>
      <key>gameTimberQiang_000015</key>
      <dict>
        <key>frame</key>
        <string>{{793,918},{47,64}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000016</key>
      <dict>
        <key>frame</key>
        <string>{{859,603},{31,62}}</string>
        <key>offset</key>
        <string>{-3.50,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000017</key>
      <dict>
        <key>frame</key>
        <string>{{859,541},{46,62}}</string>
        <key>offset</key>
        <string>{0.00,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000018</key>
      <dict>
        <key>frame</key>
        <string>{{738,183},{47,64}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000019</key>
      <dict>
        <key>frame</key>
        <string>{{691,183},{47,62}}</string>
        <key>offset</key>
        <string>{-0.50,1.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000020</key>
      <dict>
        <key>frame</key>
        <string>{{842,741},{46,63}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000021</key>
      <dict>
        <key>frame</key>
        <string>{{841,110},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000022</key>
      <dict>
        <key>frame</key>
        <string>{{578,597},{47,61}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000023</key>
      <dict>
        <key>frame</key>
        <string>{{842,804},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000024</key>
      <dict>
        <key>frame</key>
        <string>{{840,918},{46,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,62}</string>
      </dict>
      <key>gameTimberQiang_000025</key>
      <dict>
        <key>frame</key>
        <string>{{787,437},{77,104}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,102}</string>
      </dict>
      <key>gameTimberQiang_000026</key>
      <dict>
        <key>frame</key>
        <string>{{841,0},{65,110}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{63,108}</string>
      </dict>
      <key>gameTimberQiang_000027</key>
      <dict>
        <key>frame</key>
        <string>{{798,183},{77,107}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{75,105}</string>
      </dict>
      <key>gameTimberQiang_000028</key>
      <dict>
        <key>frame</key>
        <string>{{798,290},{75,109}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,107}</string>
      </dict>
      <key>gameTimberQiang_000029</key>
      <dict>
        <key>frame</key>
        <string>{{375,1049},{263,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,30}</string>
      </dict>
      <key>gameTimberQiang_000030</key>
      <dict>
        <key>frame</key>
        <string>{{375,1081},{263,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,30}</string>
      </dict>
      <key>gameTimberQiang_000031</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{472,529}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{470,527}</string>
      </dict>
      <key>gameTimberQiang_000032</key>
      <dict>
        <key>frame</key>
        <string>{{873,290},{38,197}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{36,195}</string>
      </dict>
      <key>gameTimberQiang_000033</key>
      <dict>
        <key>frame</key>
        <string>{{377,529},{254,68}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{252,66}</string>
      </dict>
      <key>gameTimberQiang_000034</key>
      <dict>
        <key>frame</key>
        <string>{{638,1049},{136,79}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{134,77}</string>
      </dict>
      <key>gameTimberQiang_000035</key>
      <dict>
        <key>frame</key>
        <string>{{376,672},{357,286}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{355,284}</string>
      </dict>
      <key>gameTimberQiang_000036</key>
      <dict>
        <key>frame</key>
        <string>{{377,597},{201,45}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{199,43}</string>
      </dict>
      <key>gameTimberQiang_000037</key>
      <dict>
        <key>frame</key>
        <string>{{631,488},{156,127}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{154,125}</string>
      </dict>
      <key>gameTimberQiang_000038</key>
      <dict>
        <key>frame</key>
        <string>{{0,993},{375,136}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{373,134}</string>
      </dict>
      <key>gameTimberQiang_000039</key>
      <dict>
        <key>frame</key>
        <string>{{0,529},{377,143}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{375,141}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.23</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameTimberQiang.png</string>
      <key>size</key>
      <string>{972,1130}</string>
      <key>textureFileName</key>
      <string>gameTimberQiang.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Circle</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Finger</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.23286</real>
        <key>anchorY</key>
        <real>-0.33857</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>HeroQiang</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>1.12497</real>
        <key>anchorY</key>
        <real>0.01929</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>Symbol14</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49948</real>
        <key>anchorY</key>
        <real>0.50061</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>Symbol2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.25316</real>
        <key>anchorY</key>
        <real>0.35965</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>Symbol3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.03802</real>
        <key>anchorY</key>
        <real>0.44500</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>Symbol4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.05882</real>
        <key>anchorY</key>
        <real>-0.02994</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>Symbol5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00667</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>Symbol8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01706</real>
        <key>anchorY</key>
        <real>0.50185</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>s21</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.51221</real>
        <key>anchorY</key>
        <real>0.50840</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>13</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>death</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.54113</real>
        <key>anchorY</key>
        <real>0.49435</real>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>14</integer>
      </dict>
      <key>hjx16768_24221</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.60133</real>
        <key>anchorY</key>
        <real>0.42647</real>
        <key>start</key>
        <integer>25</integer>
        <key>end</key>
        <integer>25</integer>
      </dict>
      <key>hjx20566_79083</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.60317</real>
        <key>anchorY</key>
        <real>0.42176</real>
        <key>start</key>
        <integer>26</integer>
        <key>end</key>
        <integer>26</integer>
      </dict>
      <key>hjx42732_37397</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.64333</real>
        <key>anchorY</key>
        <real>0.42762</real>
        <key>start</key>
        <integer>27</integer>
        <key>end</key>
        <integer>27</integer>
      </dict>
      <key>hjx98604_41999</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.59315</real>
        <key>anchorY</key>
        <real>0.42430</real>
        <key>start</key>
        <integer>28</integer>
        <key>end</key>
        <integer>28</integer>
      </dict>
      <key>Symbol1</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>url</key>
        <string>gameTimberQiang.Symbol1.jpg</string>
      </dict>
      <key>Symbol7</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.50167</real>
        <key>start</key>
        <integer>29</integer>
        <key>end</key>
        <integer>29</integer>
      </dict>
      <key>Symbol7copy</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.50167</real>
        <key>start</key>
        <integer>30</integer>
        <key>end</key>
        <integer>30</integer>
      </dict>
      <key>s17</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>1.00000</real>
        <key>start</key>
        <integer>31</integer>
        <key>end</key>
        <integer>31</integer>
      </dict>
      <key>s18</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49028</real>
        <key>anchorY</key>
        <real>0.74692</real>
        <key>start</key>
        <integer>32</integer>
        <key>end</key>
        <integer>32</integer>
      </dict>
      <key>s20</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.07937</real>
        <key>anchorY</key>
        <real>1.11212</real>
        <key>start</key>
        <integer>33</integer>
        <key>end</key>
        <integer>33</integer>
      </dict>
      <key>s26</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50373</real>
        <key>anchorY</key>
        <real>0.48896</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>s777</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.05408</real>
        <key>anchorY</key>
        <real>0.09102</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>s8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.06332</real>
        <key>anchorY</key>
        <real>0.98953</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>tree0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50584</real>
        <key>anchorY</key>
        <real>0.50640</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>tree1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.79584</real>
        <key>anchorY</key>
        <real>0.47052</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>tree2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.20773</real>
        <key>anchorY</key>
        <real>0.44823</real>
        <key>start</key>
        <integer>39</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>EnergyBar</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,292.65,53.80</string>
        <key>anchorX</key>
        <real>0.50231</real>
        <key>anchorY</key>
        <real>0.47955</real>
        <key>children</key>
        <dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>Symbol7</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>16.00,26.20,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>instance16236</key>
          <dict>
            <key>class</key>
            <string>Symbol8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>5.00,26.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>bar0</key>
          <dict>
            <key>class</key>
            <string>Symbol7copy</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>16.00,26.20,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>MainGame</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,644.00,885.50</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00113</real>
        <key>children</key>
        <dict>
          <key>instance16264</key>
          <dict>
            <key>class</key>
            <string>Symbol1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.50,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>t0</key>
          <dict>
            <key>class</key>
            <string>Tap</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>167.00,478.80,89.99,1.00000,1.00000,1.00,5,89.99,89.99</string>
          </dict>
          <key>scoreTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>233.10,773.05,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Helvetica,70,#FFFFFF,center,168,86</string>
            <key>text</key>
            <string>999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>energy</key>
          <dict>
            <key>class</key>
            <string>EnergyBar</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>324.70,815.40,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>t1</key>
          <dict>
            <key>class</key>
            <string>Tap</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>476.95,477.80,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>player</key>
          <dict>
            <key>class</key>
            <string>HeroQiang</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>321.00,112.75,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>treeBase</key>
          <dict>
            <key>class</key>
            <string>s8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>231.80,139.85,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>MainMenu</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,644.00,885.50</string>
        <key>anchorX</key>
        <real>0.00078</real>
        <key>anchorY</key>
        <real>0.00113</real>
        <key>children</key>
        <dict>
          <key>instance16306</key>
          <dict>
            <key>class</key>
            <string>Symbol1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,1.50,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>instance16327</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>322.15,203.20,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>instance16325</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>322.15,822.85,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>label__0</key>
          <dict>
            <key>class</key>
            <string>Symbol4</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>105.45,511.40,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>player</key>
          <dict>
            <key>class</key>
            <string>qiang1</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>195.55,213.90,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>instance16313</key>
          <dict>
            <key>class</key>
            <string>tree2</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>322.15,573.85,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>instance16317</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>322.15,450.85,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>instance16321</key>
          <dict>
            <key>class</key>
            <string>tree1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>322.15,697.95,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>instance16319</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>322.15,326.45,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>treeBase</key>
          <dict>
            <key>class</key>
            <string>s8</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>231.80,142.85,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>startBtn</key>
          <dict>
            <key>class</key>
            <string>s21</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>320.35,130.70,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>ResultPanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,554.15,895.65</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00112</real>
        <key>children</key>
        <dict>
          <key>label__1</key>
          <dict>
            <key>class</key>
            <string>Symbol2</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>262.15,398.20,0.00,1.00000,1.00000,1.00,7,0.00,0.00</string>
          </dict>
          <key>scoreTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>205.05,536.60,0.00,1.00000,1.00000,1.00,6,0.00,0.00,Helvetica,70,#FFFFFF,center,208,86</string>
            <key>text</key>
            <string>9999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>instance16360</key>
          <dict>
            <key>class</key>
            <string>s17</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>84.00,732.05,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>instance16362</key>
          <dict>
            <key>class</key>
            <string>s18</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>145.60,846.30,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>instance16366</key>
          <dict>
            <key>class</key>
            <string>Symbol3</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>235.65,577.75,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>instance16364</key>
          <dict>
            <key>class</key>
            <string>s18</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>490.10,845.25,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>startBtn</key>
          <dict>
            <key>class</key>
            <string>s21</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>321.85,119.05,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>label__0</key>
          <dict>
            <key>class</key>
            <string>s20</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>174.35,738.40,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>bestTxt</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>212.80,354.55,0.00,1.00000,1.00000,1.00,8,0.00,0.00,Helvetica,70,#FFFFFF,center,179,86</string>
            <key>text</key>
            <string>9999</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>Tap</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>24</integer>
        <key>rect</key>
        <string>0,0,107.70,107.55</string>
        <key>anchorX</key>
        <real>0.34819</real>
        <key>anchorY</key>
        <real>0.64528</real>
        <key>children</key>
        <dict>
          <key>instance16396</key>
          <dict>
            <key>class</key>
            <string>Finger</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>123.65,-23.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||122.10,-21.65,0.00,0.98375,0.98375,1.00,0,0.00,0.00|120.55,-19.90,0.00,0.96750,0.96750,1.00,0,0.00,0.00|119.00,-18.10,0.00,0.95125,0.95125,1.00,0,0.00,0.00|117.45,-16.30,0.00,0.93500,0.93500,1.00,0,0.00,0.00|115.90,-14.55,0.00,0.91875,0.91875,1.00,0,0.00,0.00|114.35,-12.75,0.00,0.90250,0.90250,1.00,1,0.00,0.00|115.90,-14.60,0.00,0.91875,0.91875,1.00,1,0.00,0.00|117.45,-16.30,0.00,0.93500,0.93500,1.00,1,0.00,0.00|119.00,-18.15,0.00,0.95125,0.95125,1.00,1,0.00,0.00|120.55,-19.90,0.00,0.96750,0.96750,1.00,1,0.00,0.00|122.10,-21.70,0.00,0.98375,0.98375,1.00,1,0.00,0.00|123.65,-23.45,0.00,1.00000,1.00000,1.00,1,0.00,0.00||123.65,-23.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00||||||</string>
          </dict>
          <key>instance16785</key>
          <dict>
            <key>class</key>
            <string>Circle</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>null|||||||||34.85,72.90,0.00,0.54404,0.54404,1.00,0,0.00,0.00|29.90,77.80,0.00,0.84305,0.84305,0.86,0,0.00,0.00|24.95,82.80,0.00,1.14207,1.14207,0.71,0,0.00,0.00|19.95,87.70,0.00,1.44109,1.44109,0.57,0,0.00,0.00|14.95,92.65,0.00,1.74010,1.74010,0.43,0,0.00,0.00|10.00,97.60,0.00,2.03909,2.03909,0.29,0,0.00,0.00|5.05,102.55,0.00,2.33812,2.33812,0.14,0,0.00,0.00|0.00,107.55,0.00,2.63715,2.63715,0.00,0,0.00,0.00|null||||||</string>
          </dict>
        </dict>
      </dict>
      <key>qiang1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>48</integer>
        <key>rect</key>
        <string>0,0,126.95,180.65</string>
        <key>anchorX</key>
        <real>0.85585</real>
        <key>anchorY</key>
        <real>0.57736</real>
        <key>children</key>
        <dict>
          <key>instance16422</key>
          <dict>
            <key>class</key>
            <string>Symbol5</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>43.40,-0.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00|||||||||||||||||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>instance16789</key>
          <dict>
            <key>class</key>
            <string>hjx20566_79083</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||||||||78.40,79.20,0.00,1.62448,1.62448,1.00,1,0.00,0.00|||||||||||||||null|||||||||||</string>
          </dict>
          <key>instance16793</key>
          <dict>
            <key>class</key>
            <string>hjx16768_24221</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||||||||78.40,79.20,0.00,1.62448,1.62448,1.00,1,0.00,0.00|||||</string>
          </dict>
          <key>instance16791</key>
          <dict>
            <key>class</key>
            <string>hjx98604_41999</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null||||||||||||||||||||||||||||||||||||78.40,79.20,0.00,1.62448,1.62448,1.00,1,0.00,0.00||||||null|||||</string>
          </dict>
          <key>instance16424</key>
          <dict>
            <key>class</key>
            <string>hjx42732_37397</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>78.40,79.20,0.00,1.62448,1.62448,1.00,1,0.00,0.00|||||||||||||||null||||||||||||||||||||||||||||||||</string>
          </dict>
          <key>instance16787</key>
          <dict>
            <key>class</key>
            <string>hjx16768_24221</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>null|||||||||||||||78.40,79.20,0.00,1.62448,1.62448,1.00,1,0.00,0.00||||||null||||||||||||||||||||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>s27</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>10</integer>
        <key>rect</key>
        <string>0,0,133.95,76.80</string>
        <key>anchorX</key>
        <real>0.39194</real>
        <key>anchorY</key>
        <real>0.96745</real>
        <key>children</key>
        <dict>
          <key>instance16450</key>
          <dict>
            <key>class</key>
            <string>s26</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>67.50,37.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00|67.50,37.45,0.00,0.98050,0.98050,1.00,0,0.00,0.00|67.50,37.45,0.00,0.96100,0.96100,1.00,0,0.00,0.00|67.50,37.45,0.00,0.94150,0.94150,1.00,0,0.00,0.00|67.50,37.45,0.00,0.92200,0.92200,1.00,0,0.00,0.00|67.50,37.45,0.00,0.90250,0.90250,1.00,0,0.00,0.00|67.50,37.45,0.00,0.92686,0.92686,1.00,0,0.00,0.00|67.50,37.45,0.00,0.95125,0.95125,1.00,0,0.00,0.00|67.50,37.45,0.00,0.97562,0.97562,1.00,0,0.00,0.00|67.50,37.45,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>treeAnim</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>10</integer>
        <key>rect</key>
        <string>0,0,554.10,199.25</string>
        <key>anchorX</key>
        <real>0.14257</real>
        <key>anchorY</key>
        <real>0.49159</real>
        <key>children</key>
        <dict>
          <key>tree</key>
          <dict>
            <key>class</key>
            <string>tree0</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>77.90,100.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00|139.35,100.25,55.39,0.99847,0.99847,1.00,0,55.39,55.39|196.50,100.25,106.77,0.99909,0.99909,1.00,0,106.77,106.77|249.45,100.25,154.44,0.99872,0.99872,1.00,0,154.44,154.44|298.15,100.25,-161.93,0.99903,0.99903,1.00,0,-161.93,-161.93|342.60,100.25,-121.81,0.99853,0.99853,1.00,0,-121.81,-121.81|382.80,100.25,-85.71,0.99975,0.99975,1.00,0,-85.71,-85.71|418.75,100.25,-53.18,0.99842,0.99842,1.00,0,-53.18,-53.18|450.45,100.25,-24.59,0.99875,0.99875,1.00,0,-24.58,-24.58|477.90,100.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>ScoreFont</key>
      <dict>
        <key>start</key>
        <integer>15</integer>
        <key>end</key>
        <integer>24</integer>
        <key>size</key>
        <integer>70</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.13043</real>
        <key>anchorY</key>
        <real>1.11290</real>
      </dict>
    </dict>
  </dict>
</plist>