<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monkey_run_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,126}}</string>
        <key>offset</key>
        <string>{-16.00,-8.27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{193,133}}</string>
        <key>offset</key>
        <string>{-10.10,-5.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000002</key>
      <dict>
        <key>frame</key>
        <string>{{192,516},{187,138}}</string>
        <key>offset</key>
        <string>{-4.65,-3.02}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000003</key>
      <dict>
        <key>frame</key>
        <string>{{379,393},{181,144}}</string>
        <key>offset</key>
        <string>{2.85,0.03}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000004</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{182,142}}</string>
        <key>offset</key>
        <string>{16.25,-0.12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000005</key>
      <dict>
        <key>frame</key>
        <string>{{558,139},{174,140}}</string>
        <key>offset</key>
        <string>{23.00,-2.02}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000006</key>
      <dict>
        <key>frame</key>
        <string>{{379,537},{181,137}}</string>
        <key>offset</key>
        <string>{24.50,-3.32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000007</key>
      <dict>
        <key>frame</key>
        <string>{{381,139},{177,136}}</string>
        <key>offset</key>
        <string>{24.20,-3.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000008</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{179,139}}</string>
        <key>offset</key>
        <string>{13.50,-2.47}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000009</key>
      <dict>
        <key>frame</key>
        <string>{{195,251},{186,142}}</string>
        <key>offset</key>
        <string>{1.55,-0.97}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{192,138}}</string>
        <key>offset</key>
        <string>{-4.80,-2.12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{195,132}}</string>
        <key>offset</key>
        <string>{-10.10,-5.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkey_run_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{196,125}}</string>
        <key>offset</key>
        <string>{-14.30,-8.57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.91</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monkey_run.png</string>
      <key>size</key>
      <string>{830,744}</string>
      <key>textureFileName</key>
      <string>monkey_run.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>monkey_run</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5515350877192983</real>
        <key>anchorY</key>
        <real>0.13551566349876804</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
    </dict>
  </dict>
</plist>