<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>monkeyRun_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,654},{78,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,88}</string>
      </dict>
      <key>monkeyRun_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{198,126}}</string>
        <key>offset</key>
        <string>{-16.00,-8.27}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,383},{193,133}}</string>
        <key>offset</key>
        <string>{-10.10,-5.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000003</key>
      <dict>
        <key>frame</key>
        <string>{{192,516},{187,138}}</string>
        <key>offset</key>
        <string>{-4.65,-3.02}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000004</key>
      <dict>
        <key>frame</key>
        <string>{{379,393},{181,144}}</string>
        <key>offset</key>
        <string>{2.85,0.03}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000005</key>
      <dict>
        <key>frame</key>
        <string>{{198,0},{182,142}}</string>
        <key>offset</key>
        <string>{16.25,-0.12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000006</key>
      <dict>
        <key>frame</key>
        <string>{{558,139},{174,140}}</string>
        <key>offset</key>
        <string>{23.00,-2.02}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000007</key>
      <dict>
        <key>frame</key>
        <string>{{379,537},{181,137}}</string>
        <key>offset</key>
        <string>{24.50,-3.32}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000008</key>
      <dict>
        <key>frame</key>
        <string>{{381,139},{177,136}}</string>
        <key>offset</key>
        <string>{24.20,-3.52}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000009</key>
      <dict>
        <key>frame</key>
        <string>{{380,0},{179,139}}</string>
        <key>offset</key>
        <string>{13.50,-2.47}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000010</key>
      <dict>
        <key>frame</key>
        <string>{{195,251},{186,142}}</string>
        <key>offset</key>
        <string>{1.55,-0.97}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,516},{192,138}}</string>
        <key>offset</key>
        <string>{-4.80,-2.12}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,251},{195,132}}</string>
        <key>offset</key>
        <string>{-10.10,-5.92}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
      <key>monkeyRun_000013</key>
      <dict>
        <key>frame</key>
        <string>{{0,126},{196,125}}</string>
        <key>offset</key>
        <string>{-14.30,-8.57}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{228,142.05}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.2</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>monkeyRun.png</string>
      <key>size</key>
      <string>{830,744}</string>
      <key>textureFileName</key>
      <string>monkeyRun.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>anotherHead</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-1.9000000000000001</real>
        <key>anchorY</key>
        <real>-0.8136363636363636</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>monkey_run</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5515350877192983</real>
        <key>anchorY</key>
        <real>0.13551566349876804</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>ui</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,568.95,770.75</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0012974375608173856</real>
        <key>children</key>
        <dict>
          <key>fpsTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>220.00,770.75,0.00,1,1,1.00,0,0,0,Arial,32,#F4DC95,center,235,40</string>
            <key>text</key>
            <string>FPS%3A</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>32</integer>
            <key>color</key>
            <string>#F4DC95</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>235</real>
            <key>height</key>
            <real>40</real>
          </dict>
          <key>tipTxt</key>
          <dict>
            <key>class</key>
            <string>animClickTip</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>70.00,190.75,0.00,1,1,1.00,1,0,0,Arial,28,#F4DC95,center,499,35</string>
            <key>text</key>
            <string>tips</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>28</integer>
            <key>color</key>
            <string>#F4DC95</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>499</real>
            <key>height</key>
            <real>35</real>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>