<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneNav_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,89},{75,61}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,59}</string>
      </dict>
      <key>sceneNav_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{83,89}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{81,87}</string>
      </dict>
      <key>sceneNav_000002</key>
      <dict>
        <key>frame</key>
        <string>{{140,134},{52,46}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{50,44}</string>
      </dict>
      <key>sceneNav_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,200},{73,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>sceneNav_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,150},{73,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>sceneNav_000005</key>
      <dict>
        <key>frame</key>
        <string>{{83,0},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>sceneNav_000006</key>
      <dict>
        <key>frame</key>
        <string>{{83,67},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>sceneNav_000007</key>
      <dict>
        <key>frame</key>
        <string>{{73,150},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>sceneNav_000008</key>
      <dict>
        <key>frame</key>
        <string>{{73,217},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>sceneNav_000009</key>
      <dict>
        <key>frame</key>
        <string>{{140,180},{48,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.21</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneNav.png</string>
      <key>size</key>
      <string>{284,290}</string>
      <key>textureFileName</key>
      <string>sceneNav.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Symbol13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.00423728813559322</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Symbol22</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>arrow</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.96</real>
        <key>anchorY</key>
        <real>0.49886363636363634</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.5338028169014084</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>sprite271</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04384615384615385</real>
        <key>anchorY</key>
        <real>1.0446153846153847</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>6</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
        </dict>
      </dict>
      <key>sprite274</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>-0.04384615384615385</real>
        <key>anchorY</key>
        <real>1.0446153846153847</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>8</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>selected</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.9510869565217392</real>
        <key>anchorY</key>
        <real>0.5119565217391304</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>PauseCover</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,881.00</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0011350737797956867</real>
        <key>children</key>
        <dict>
          <key>back</key>
          <dict>
            <key>class</key>
            <string>Symbol13</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,8.827606201171875,14.9786376953125,1.00,0,0,0</string>
          </dict>
          <key>resumeBtn</key>
          <dict>
            <key>class</key>
            <string>Symbol22</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>283.95,390.95,0.00,1,1,1.00,1,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>SceneNav</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,880.65</string>
        <key>anchorX</key>
        <real>0.00046875</real>
        <key>anchorY</key>
        <real>0.0011355248963833531</real>
        <key>children</key>
        <dict>
          <key>instance11928</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>2528.65,858.20,0.00,13.912857055664063,1,1.00,1,0,0</string>
          </dict>
          <key>navTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>251.10,49.50,0.00,1,1,1.00,5,0,0,Arial Bold,24,#FFFFFF,center,133,31</string>
            <key>text</key>
            <string>0/99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>rightBtn</key>
          <dict>
            <key>class</key>
            <string>arrow</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>499.30,36.30,180.00,1,1,1.00,4,-180,180</string>
          </dict>
          <key>leftBtn</key>
          <dict>
            <key>class</key>
            <string>arrow</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>134.80,36.30,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>instance11932</key>
          <dict>
            <key>class</key>
            <string>TopBar</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>472.50,856.45,0.00,1,1,1.00,6,0,0</string>
          </dict>
          <key>instance11926</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1559.65,37.20,0.00,7.8260345458984375,1,1.00,0,0,0</string>
          </dict>
          <key>titleTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.30,873.25,0.00,1,1,1.00,2,0,0,Arial Bold,20,#FFFFFF,center,414,26</string>
            <key>text</key>
            <string>Title</string>
            <key>input</key>
            <false/>
          </dict>
        </dict>
      </dict>
      <key>TopBar</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,211.85,41.75</string>
        <key>anchorX</key>
        <real>0.22964361576587208</real>
        <key>anchorY</key>
        <real>0.4455089820359282</real>
        <key>children</key>
        <dict>
          <key>enBtn</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>183.45,21.00,0.00,0.79998779296875,0.79998779296875,1.00,3,0,0</string>
          </dict>
          <key>zhBtn</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>124.45,21.05,0.00,0.79998779296875,0.79998779296875,1.00,2,0,0</string>
          </dict>
          <key>pauseBtn</key>
          <dict>
            <key>class</key>
            <string>sprite271</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-2.00,43.80,0.00,0.6999969482421875,0.6999969482421875,1.00,0,0,0</string>
          </dict>
          <key>soundBtn</key>
          <dict>
            <key>class</key>
            <string>sprite274</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>46.25,43.55,0.00,0.6999969482421875,0.6999969482421875,1.00,1,0,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>