<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>sceneNav_000000</key>
      <dict>
        <key>frame</key>
        <string>{{48,100},{34,30}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{32,28}</string>
      </dict>
      <key>sceneNav_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,50},{73,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>sceneNav_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{73,50}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{71,48}</string>
      </dict>
      <key>sceneNav_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,100},{48,48}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{46,46}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.91</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>sceneNav.png</string>
      <key>size</key>
      <string>{174,164}</string>
      <key>textureFileName</key>
      <string>sceneNav.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>arrow</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.96875</real>
        <key>anchorY</key>
        <real>0.5017857142857143</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>3.9510869565217392</real>
        <key>anchorY</key>
        <real>0.5119565217391304</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>SceneNav</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,880.65</string>
        <key>anchorX</key>
        <real>0.00046875</real>
        <key>anchorY</key>
        <real>0.0011355248963833531</real>
        <key>children</key>
        <dict>
          <key>zhBtn</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>545.25,858.25,0.00,0.79998779296875,0.79998779296875,1.00,6,0,0</string>
          </dict>
          <key>titleTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>0.30,873.25,0.00,1,1,1.00,2,0,0</string>
            <key>text</key>
            <string>Title</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial Bold</string>
            <key>size</key>
            <integer>24</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>516</real>
            <key>height</key>
            <real>31</real>
          </dict>
          <key>enBtn</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>607.25,858.20,0.00,0.79998779296875,0.79998779296875,1.00,7,0,0</string>
          </dict>
          <key>rightBtn</key>
          <dict>
            <key>class</key>
            <string>arrow</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>499.30,36.30,180.00,1,1,1.00,4,-180,180</string>
          </dict>
          <key>instance245873</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>1559.65,37.20,0.00,7.8260345458984375,1,1.00,0,0,0</string>
          </dict>
          <key>leftBtn</key>
          <dict>
            <key>class</key>
            <string>arrow</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>134.80,36.30,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>instance245875</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>2528.65,858.20,0.00,13.912857055664063,1,1.00,1,0,0</string>
          </dict>
          <key>navTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>251.10,49.50,0.00,1,1,1.00,5,0,0</string>
            <key>text</key>
            <string>0/99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial Bold</string>
            <key>size</key>
            <integer>24</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>133</real>
            <key>height</key>
            <real>31</real>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>