<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>scrollingBG_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{62,43}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,41}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.21</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>scrollingBG.png</string>
      <key>size</key>
      <string>{64,64}</string>
      <key>textureFileName</key>
      <string>scrollingBG.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.26333333333333336</real>
        <key>anchorY</key>
        <real>0.5414634146341464</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0</real>
        <key>url</key>
        <string>scrollingBG.bg.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>mcBtn</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,70.00,45.25</string>
        <key>anchorX</key>
        <real>0.6242857142857143</real>
        <key>anchorY</key>
        <real>0.5160220994475139</real>
        <key>children</key>
        <dict>
          <key>label</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>6.75,37.35,0.00,1,1,1.00,1,0,0,Arial,14,#F4DC95,center,58,30</string>
            <key>text</key>
            <string>Button</string>
            <key>input</key>
            <false/>
          </dict>
          <key>instance10549</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>20.60,20.85,0.00,1.303558349609375,1.30029296875,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>ui</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,961.00</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.001040582726326743</real>
        <key>children</key>
        <dict>
          <key>resetBtn</key>
          <dict>
            <key>class</key>
            <string>mcBtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>168.65,792.25,0.00,1,1,1.00,5,0,0</string>
          </dict>
          <key>resumeBtn</key>
          <dict>
            <key>class</key>
            <string>mcBtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>482.65,792.25,0.00,1,1,1.00,4,0,0</string>
          </dict>
          <key>startxBtn</key>
          <dict>
            <key>class</key>
            <string>mcBtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>248.65,792.25,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>bg</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>pauseBtn</key>
          <dict>
            <key>class</key>
            <string>mcBtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>404.65,792.25,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>startyBtn</key>
          <dict>
            <key>class</key>
            <string>mcBtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>327.65,792.25,0.00,1,1,1.00,2,0,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>