<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tiledImage_000000</key>
      <dict>
        <key>frame</key>
        <string>{{95,95},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>tiledImage_000001</key>
      <dict>
        <key>frame</key>
        <string>{{95,0},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>tiledImage_000002</key>
      <dict>
        <key>frame</key>
        <string>{{95,190},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>tiledImage_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>tiledImage_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,190},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
      <key>tiledImage_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{95,95}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{93,93}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.1</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiledImage.png</string>
      <key>size</key>
      <string>{196,296}</string>
      <key>textureFileName</key>
      <string>tiledImage.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>tile0</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5048387096774194</real>
        <key>anchorY</key>
        <real>0.49677419354838714</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>tile1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5048387096774194</real>
        <key>anchorY</key>
        <real>0.49677419354838714</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
  </dict>
</plist>