<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>uiBmFont_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{37,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000001</key>
      <dict>
        <key>frame</key>
        <string>{{103,106},{17,48}}</string>
        <key>offset</key>
        <string>{10.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,106},{37,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000003</key>
      <dict>
        <key>frame</key>
        <string>{{72,53},{35,53}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000004</key>
      <dict>
        <key>frame</key>
        <string>{{37,106},{35,48}}</string>
        <key>offset</key>
        <string>{1.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000005</key>
      <dict>
        <key>frame</key>
        <string>{{73,0},{33,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000006</key>
      <dict>
        <key>frame</key>
        <string>{{37,0},{36,53}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000007</key>
      <dict>
        <key>frame</key>
        <string>{{72,106},{31,50}}</string>
        <key>offset</key>
        <string>{3.00,1.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,53},{37,53}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
      <key>uiBmFont_000009</key>
      <dict>
        <key>frame</key>
        <string>{{37,53},{35,53}}</string>
        <key>offset</key>
        <string>{1.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,51}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>uiBmFont.png</string>
      <key>size</key>
      <string>{164,164}</string>
      <key>textureFileName</key>
      <string>uiBmFont.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>PanelBack</key>
      <dict>
        <key>type</key>
        <string>share</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>url</key>
        <string>uiPanel</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>BMPanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,1761.00</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0005678591709256105</real>
        <key>children</key>
        <dict>
          <key>instance1657</key>
          <dict>
            <key>class</key>
            <string>PanelBack</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>scoreTxt3</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>226.15,306.65,0.00,1,1,1.00,2,0,0,LiquidCrystal,60,#FF6600,center,179,59</string>
            <key>text</key>
            <string>12345</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>LiquidCrystal</string>
            <key>size</key>
            <integer>60</integer>
            <key>color</key>
            <string>#000000</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>179</real>
            <key>height</key>
            <real>59</real>
          </dict>
          <key>titleTxt</key>
          <dict>
            <key>class</key>
            <string>bmp</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>181.00,641.10,0.00,1,1,1.00,6,0,0,AntsyPants,32,#F4DC95,center,294,38</string>
            <key>text</key>
            <string>Bitmap   Text</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>AntsyPants</string>
            <key>size</key>
            <integer>32</integer>
            <key>color</key>
            <string>#000000</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>294</real>
            <key>height</key>
            <real>38</real>
          </dict>
          <key>scoreTxt0</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>226.15,558.95,0.00,1,1,1.00,4,0,0,LiquidCrystal,60,#FF6600,center,179,59</string>
            <key>text</key>
            <string>12345</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>LiquidCrystal</string>
            <key>size</key>
            <integer>60</integer>
            <key>color</key>
            <string>#000000</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>179</real>
            <key>height</key>
            <real>59</real>
          </dict>
          <key>scoreTxt2</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>226.15,388.95,0.00,1,1,1.00,5,0,0,LiquidCrystal,60,#FF6600,center,179,59</string>
            <key>text</key>
            <string>12345</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>LiquidCrystal</string>
            <key>size</key>
            <integer>60</integer>
            <key>color</key>
            <string>#000000</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>179</real>
            <key>height</key>
            <real>59</real>
          </dict>
          <key>instance1648</key>
          <dict>
            <key>class</key>
            <string>PanelBack</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,881.00,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>scoreTxt1</key>
          <dict>
            <key>class</key>
            <string>ScoreFont</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>226.15,468.95,0.00,1,1,1.00,3,0,0,LiquidCrystal,60,#FF6600,center,179,59</string>
            <key>text</key>
            <string>12345</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>LiquidCrystal</string>
            <key>size</key>
            <integer>60</integer>
            <key>color</key>
            <string>#000000</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>179</real>
            <key>height</key>
            <real>59</real>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>ScoreFont</key>
      <dict>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>9</integer>
        <key>size</key>
        <integer>60</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.14285714285714285</real>
        <key>anchorY</key>
        <real>1.0392156862745099</real>
      </dict>
    </dict>
  </dict>
</plist>