<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>uiInput_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{113,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{111,37}</string>
      </dict>
      <key>uiInput_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,67},{106,28.35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,26.35}</string>
      </dict>
      <key>uiInput_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,95},{106,28.35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,26.35}</string>
      </dict>
      <key>uiInput_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,39},{106,28.35}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{104,26.35}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>uiInput.png</string>
      <key>size</key>
      <string>{114,164}</string>
      <key>textureFileName</key>
      <string>uiInput.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Symbol 1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49954954954954955</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>InputText0</key>
      <dict>
        <key>type</key>
        <string>input</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1.0759013282732448</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>InputText1</key>
      <dict>
        <key>type</key>
        <string>input</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>InputText2</key>
      <dict>
        <key>type</key>
        <string>input</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>PanelBack</key>
      <dict>
        <key>type</key>
        <string>share</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>url</key>
        <string>uiPanel</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>InputPanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,881.00</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0011350737797956867</real>
        <key>children</key>
        <dict>
          <key>instance2043</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>185.00,336.70,0.00,1,1,1.00,12,0,0,AntsyPants,22,#FFFFFF,right,101,27</string>
            <key>text</key>
            <string>Tel:</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>AntsyPants</string>
            <key>size</key>
            <integer>22</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>right</string>
            <key>width</key>
            <real>101</real>
            <key>height</key>
            <real>27</real>
          </dict>
          <key>emailTxt</key>
          <dict>
            <key>class</key>
            <string>InputText1</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>325.95,409.10,0.00,1,1,1.00,6,0,0</string>
            <key>text</key>
            <string>Email</string>
            <key>input</key>
            <true/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#00FF00</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>104</real>
            <key>height</key>
            <real>26.35</real>
          </dict>
          <key>instance2028</key>
          <dict>
            <key>class</key>
            <string>Symbol 1</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>377.10,475.90,0.00,1.0999755859375,1.0999755859375,1.00,3,0,0</string>
          </dict>
          <key>instance2040</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>185.00,557.65,0.00,1,1,1.00,9,0,0,AntsyPants,22,#FFFFFF,right,104,27</string>
            <key>text</key>
            <string>Name:</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>AntsyPants</string>
            <key>size</key>
            <integer>22</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>right</string>
            <key>width</key>
            <real>104</real>
            <key>height</key>
            <real>27</real>
          </dict>
          <key>pswTxt</key>
          <dict>
            <key>class</key>
            <string>InputText0</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>325.60,490.70,0.00,1,1,1.00,4,0,0</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>104</real>
            <key>height</key>
            <real>26.35</real>
          </dict>
          <key>instance2041</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>205.00,492.65,0.00,1,1,1.00,10,0,0,AntsyPants,22,#FFFFFF,right,81,27</string>
            <key>text</key>
            <string>Psw:</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>AntsyPants</string>
            <key>size</key>
            <integer>22</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>right</string>
            <key>width</key>
            <real>81</real>
            <key>height</key>
            <real>27</real>
          </dict>
          <key>instance2036</key>
          <dict>
            <key>class</key>
            <string>Symbol 1</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>377.40,323.95,0.00,1.0999755859375,1.0999755859375,1.00,7,0,0</string>
          </dict>
          <key>instance2024</key>
          <dict>
            <key>class</key>
            <string>Symbol 1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>377.10,542.50,0.00,1.0999755859375,1.0999755859375,1.00,1,0,0</string>
          </dict>
          <key>instance2032</key>
          <dict>
            <key>class</key>
            <string>Symbol 1</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>377.40,395.50,0.00,1.0999755859375,1.0999755859375,1.00,5,0,0</string>
          </dict>
          <key>instance2042</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>185.00,413.65,0.00,1,1,1.00,11,0,0,AntsyPants,22,#FFFFFF,right,101,27</string>
            <key>text</key>
            <string>Email:</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>AntsyPants</string>
            <key>size</key>
            <integer>22</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>right</string>
            <key>width</key>
            <real>101</real>
            <key>height</key>
            <real>27</real>
          </dict>
          <key>instance2015</key>
          <dict>
            <key>class</key>
            <string>PanelBack</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>nameTxt</key>
          <dict>
            <key>class</key>
            <string>InputText0</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>324.95,558.10,0.00,1,1,1.00,2,0,0</string>
            <key>text</key>
            <string/>
            <key>input</key>
            <true/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#FFFFFF</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>104</real>
            <key>height</key>
            <real>26.35</real>
          </dict>
          <key>telTxt</key>
          <dict>
            <key>class</key>
            <string>InputText2</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>325.95,337.15,0.00,1,1,1.00,8,0,0</string>
            <key>text</key>
            <string>Tel</string>
            <key>input</key>
            <true/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#FFCC00</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>104</real>
            <key>height</key>
            <real>26.35</real>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>