<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>uiPanel_000000</key>
      <dict>
        <key>frame</key>
        <string>{{271,168},{67,67}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{65,65}</string>
      </dict>
      <key>uiPanel_000001</key>
      <dict>
        <key>frame</key>
        <string>{{271,96},{72,72}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{70,70}</string>
      </dict>
      <key>uiPanel_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,54},{171,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{169,89}</string>
      </dict>
      <key>uiPanel_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,145},{160,165}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{158,163}</string>
      </dict>
      <key>uiPanel_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,310},{23,23}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,21}</string>
      </dict>
      <key>uiPanel_000005</key>
      <dict>
        <key>frame</key>
        <string>{{160,145},{111,111}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>uiPanel_000006</key>
      <dict>
        <key>frame</key>
        <string>{{160,256},{96,96}}</string>
        <key>offset</key>
        <string>{-3.50,3.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>uiPanel_000007</key>
      <dict>
        <key>frame</key>
        <string>{{194,0},{96,96}}</string>
        <key>offset</key>
        <string>{-3.50,3.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>uiPanel_000008</key>
      <dict>
        <key>frame</key>
        <string>{{256,256},{96,96}}</string>
        <key>offset</key>
        <string>{-3.50,3.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{109,109}</string>
      </dict>
      <key>uiPanel_000009</key>
      <dict>
        <key>frame</key>
        <string>{{290,0},{59,60}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{57,58}</string>
      </dict>
      <key>uiPanel_000010</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{194,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{192,52}</string>
      </dict>
      <key>uiPanel_000011</key>
      <dict>
        <key>frame</key>
        <string>{{338,168},{46,59}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{44,57}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.23</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>uiPanel.png</string>
      <key>size</key>
      <string>{394,366}</string>
      <key>textureFileName</key>
      <string>uiPanel.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asset3</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.42231</real>
        <key>anchorY</key>
        <real>0.57769</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asset8</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>anchorX</key>
        <real>0.45929</real>
        <key>anchorY</key>
        <real>0.54857</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asset10</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.44970</real>
        <key>anchorY</key>
        <real>0.52416</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>asset11</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.00506</real>
        <key>anchorY</key>
        <real>1.00552</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>asset12</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50238</real>
        <key>anchorY</key>
        <real>0.47143</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>asset13</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.45321</real>
        <key>anchorY</key>
        <real>0.53028</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>asset4</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.50614</real>
        <key>anchorY</key>
        <real>0.50086</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>asset5</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.01745</real>
        <key>anchorY</key>
        <real>0.96058</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>asset6</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.47273</real>
        <key>anchorY</key>
        <real>0.44561</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>PanelBack</key>
      <dict>
        <key>type</key>
        <string>jpg</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00000</real>
        <key>url</key>
        <string>uiPanel.PanelBack.jpg</string>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>asset7</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,158.20,163.35</string>
        <key>anchorX</key>
        <real>0.50000</real>
        <key>anchorY</key>
        <real>0.50015</real>
        <key>children</key>
        <dict>
          <key>instance2404</key>
          <dict>
            <key>class</key>
            <string>asset12</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>138.35,141.60,0.00,1.69165,1.69135,1.00,2,0.00,0.00</string>
          </dict>
          <key>instance2400</key>
          <dict>
            <key>class</key>
            <string>asset11</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>-0.80,164.25,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>priceTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>66.20,51.05,0.00,1.00000,1.00000,1.00,3,0.00,0.00,Rockwell Bold,38,#FFFFFF,center,81,49</string>
            <key>text</key>
            <string>100</string>
            <key>input</key>
            <false/>
          </dict>
          <key>icon</key>
          <dict>
            <key>class</key>
            <string>asset13</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>81.20,104.50,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
          <key>countTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>121.25,157.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00,微软雅黑,18,#FFFFFF,center,35,32</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
          </dict>
          <key>instance2402</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>40.50,27.50,0.00,0.76160,0.76160,1.00,1,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>asset2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>13</integer>
        <key>rect</key>
        <string>0,0,179.70,91.55</string>
        <key>anchorX</key>
        <real>0.04341</real>
        <key>anchorY</key>
        <real>0.95303</real>
        <key>children</key>
        <dict>
          <key>playBtn</key>
          <dict>
            <key>class</key>
            <string>asset10</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>83.75,44.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00|83.75,44.90,0.00,1.01707,1.01707,1.00,0,0.00,0.00|83.75,44.90,0.00,1.03416,1.03416,1.00,0,0.00,0.00|83.75,44.90,0.00,1.05124,1.05124,1.00,0,0.00,0.00|83.75,44.90,0.00,1.06831,1.06831,1.00,0,0.00,0.00|83.75,44.90,0.00,1.08540,1.08540,1.00,0,0.00,0.00|83.75,44.90,0.00,1.10248,1.10248,1.00,0,0.00,0.00|83.70,44.90,0.00,1.08540,1.08540,1.00,0,0.00,0.00|83.75,44.85,0.00,1.06831,1.06831,1.00,0,0.00,0.00|83.70,44.85,0.00,1.05124,1.05124,1.00,0,0.00,0.00|83.75,44.85,0.00,1.03416,1.03416,1.00,0,0.00,0.00|83.70,44.90,0.00,1.01707,1.01707,1.00,0,0.00,0.00|83.75,44.90,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
      <key>storePanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,881.00</string>
        <key>anchorX</key>
        <real>0.00000</real>
        <key>anchorY</key>
        <real>0.00114</real>
        <key>children</key>
        <dict>
          <key>instance2460</key>
          <dict>
            <key>class</key>
            <string>PanelBack</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,1.00,0.00,1.00000,1.00000,1.00,0,0.00,0.00</string>
          </dict>
          <key>playBtn</key>
          <dict>
            <key>class</key>
            <string>asset2</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>231.30,178.90,0.00,1.00000,1.00000,1.00,13,0.00,0.00</string>
          </dict>
          <key>coinsTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>68.95,864.40,0.00,1.00000,1.00000,1.00,12,0.00,0.00,Rockwell Bold,35,#FFFFFF,center,117,51</string>
            <key>text</key>
            <string>99999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>closeBtn</key>
          <dict>
            <key>class</key>
            <string>asset8</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>577.80,731.90,0.00,1.00000,1.00000,1.00,1,0.00,0.00</string>
          </dict>
          <key>instance2504</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>278.85,863.30,0.00,1.00000,1.00000,1.00,6,0.00,0.00</string>
          </dict>
          <key>energyTxt</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>338.15,861.95,0.00,1.00000,1.00000,1.00,7,0.00,0.00,Rockwell Bold,35,#FFFFFF,left,117,51</string>
            <key>text</key>
            <string>99999</string>
            <key>input</key>
            <false/>
          </dict>
          <key>instance2506</key>
          <dict>
            <key>class</key>
            <string>asset6</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>311.05,835.50,0.00,1.00000,1.00000,1.00,8,0.00,0.00</string>
          </dict>
          <key>p3</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>416.75,333.90,0.00,1.00000,1.00000,1.00,5,0.00,0.00</string>
          </dict>
          <key>instance2508</key>
          <dict>
            <key>class</key>
            <string>asset5</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>3.35,863.30,0.00,1.00000,1.00000,1.00,9,0.00,0.00</string>
          </dict>
          <key>instance2510</key>
          <dict>
            <key>class</key>
            <string>asset4</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>46.40,841.85,0.00,1.00000,1.00000,1.00,10,0.00,0.00</string>
          </dict>
          <key>p0</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>208.80,553.80,0.00,1.00000,1.00000,1.00,2,0.00,0.00</string>
          </dict>
          <key>p1</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>418.75,551.80,0.00,1.00000,1.00000,1.00,3,0.00,0.00</string>
          </dict>
          <key>instance2512</key>
          <dict>
            <key>class</key>
            <string>asset3</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>227.20,841.35,0.00,1.00000,1.00000,1.00,11,0.00,0.00</string>
          </dict>
          <key>p2</key>
          <dict>
            <key>class</key>
            <string>asset7</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>208.80,337.90,0.00,1.00000,1.00000,1.00,4,0.00,0.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>