<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>uiProgress_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,56},{263,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{261,30}</string>
      </dict>
      <key>uiProgress_000001</key>
      <dict>
        <key>frame</key>
        <string>{{119,88},{32,263}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{30,261}</string>
      </dict>
      <key>uiProgress_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,204},{90,90}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,88}</string>
      </dict>
      <key>uiProgress_000003</key>
      <dict>
        <key>frame</key>
        <string>{{0,88},{119,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{117,114}</string>
      </dict>
      <key>uiProgress_000004</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{295,56}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{293,54}</string>
      </dict>
      <key>uiProgress_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,294},{70,64}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{68,62}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>2.23</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>uiProgress.png</string>
      <key>size</key>
      <string>{296,364}</string>
      <key>textureFileName</key>
      <string>uiProgress.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>Symbol7</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.5016666666666667</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>Symbol7copy</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>-0.009961685823754876</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>cd</key>
      <dict>
        <key>type</key>
        <string>progress</string>
        <key>anchorX</key>
        <real>0.5</real>
        <key>anchorY</key>
        <real>0.5</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>Symbol 1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.48034188034188036</real>
        <key>anchorY</key>
        <real>0.5263157894736842</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>Symbol8</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.017064846416382253</real>
        <key>anchorY</key>
        <real>0.5018518518518519</real>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>4</integer>
      </dict>
      <key>random_xx</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.21838235294117647</real>
        <key>anchorY</key>
        <real>0.8346774193548387</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>RandomButton</key>
      <dict>
        <key>type</key>
        <string>button</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,106.05,103.60</string>
        <key>anchorX</key>
        <real>0.49929278642149927</real>
        <key>anchorY</key>
        <real>0.4855212355212355</real>
        <key>children</key>
        <dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>cd</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>52.90,51.60,0.00,1,1,1.00,2,0,0</string>
          </dict>
          <key>instance2236</key>
          <dict>
            <key>class</key>
            <string>Symbol 1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>53.20,51.60,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>instance2242</key>
          <dict>
            <key>class</key>
            <string>random_xx</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>34.60,73.25,0.00,1,1,1.00,1,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>EnergyBar</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,292.65,53.80</string>
        <key>anchorX</key>
        <real>0.5023065094823168</real>
        <key>anchorY</key>
        <real>0.4795539033457249</real>
        <key>children</key>
        <dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>Symbol7</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>16.00,26.20,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>instance2269</key>
          <dict>
            <key>class</key>
            <string>Symbol8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>5.00,26.90,0.00,1,1,1.00,0,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>ProgressPanel</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,492.60,780.90</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0012805736970162634</real>
        <key>children</key>
        <dict>
          <key>p1</key>
          <dict>
            <key>class</key>
            <string>EnergyBar</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>328.45,671.90,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>p4</key>
          <dict>
            <key>class</key>
            <string>energyBarcopy</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>326.95,390.90,0.00,1,1,1.00,4,0,0</string>
          </dict>
          <key>p0</key>
          <dict>
            <key>class</key>
            <string>EnergyBar</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>327.95,752.90,0.00,1,1,1.00,0,0,0</string>
          </dict>
          <key>p6</key>
          <dict>
            <key>class</key>
            <string>RandomButton</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>214.50,162.20,0.00,1,1,1.00,6,0,0</string>
          </dict>
          <key>p5</key>
          <dict>
            <key>class</key>
            <string>energyBarcopy</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>437.95,390.90,0.00,1,1,1.00,5,0,0</string>
          </dict>
          <key>p7</key>
          <dict>
            <key>class</key>
            <string>RandomButton</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>327.00,162.20,0.00,1,1,1.00,7,0,0</string>
          </dict>
          <key>p3</key>
          <dict>
            <key>class</key>
            <string>energyBarcopy</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>213.95,390.90,0.00,1,1,1.00,3,0,0</string>
          </dict>
          <key>p8</key>
          <dict>
            <key>class</key>
            <string>RandomButton</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>439.50,162.20,0.00,1,1,1.00,8,0,0</string>
          </dict>
          <key>p2</key>
          <dict>
            <key>class</key>
            <string>EnergyBar</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>327.95,590.90,0.00,1,1,1.00,2,0,0</string>
          </dict>
        </dict>
      </dict>
      <key>energyBarcopy</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,53.85,292.65</string>
        <key>anchorX</key>
        <real>0.5078922934076138</real>
        <key>anchorY</key>
        <real>0.49718093285494613</real>
        <key>children</key>
        <dict>
          <key>bar</key>
          <dict>
            <key>class</key>
            <string>Symbol7copy</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>11.35,12.95,0.00,1,1,1.00,1,0,0</string>
          </dict>
          <key>instance2365</key>
          <dict>
            <key>class</key>
            <string>Symbol8</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>26.90,287.65,89.99,1.0000000041909516,1.0000000041909516,1.00,0,89.99475441473209,89.99475441473209</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>